<div class="flex justify-between mt-40 mx-52">
  <div class="w-1/4 h-16 w-40">
    <button (click)="login()" [disabled]="isAuthenticated()" class="bg-green-500 hover:bg-green-700 py-5 px-4 rounded-full w-full text-4xl text-white">
      Facebook
    </button>
  </div>
  <div class="w-1/4 h-16 w-40">
    <a [routerLink]="['registration']">
      <button class="bg-green-500 hover:bg-green-700 py-5 px-4 rounded-full w-full text-sm text-4xl text-white">
        Registration
      </button>
    </a>
  </div>
</div>

<div class="absolute w-full bottom-40">
  <div class="flex justify-between mx-52">
    <div class="w-1/4 h-16 w-40">
      <a [routerLink]="['login']">
        <button class="bg-green-500 hover:bg-green-700 py-5 px-4 rounded-full w-full text-4xl text-white">
          Login
        </button>
      </a>
    </div>
    <div class="w-1/4 h-16 w-40">
      <a href="#">
        <button class="bg-green-500 hover:bg-green-700 py-5 px-4 rounded-full w-full text-sm text-4xl text-white">
          Guest Access
        </button>
      </a>
    </div>
  </div>
</div>
